#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    top: calc(50px + var(--header-padding-top) + var(--header-padding-bottom));
    margin-left: -200px;
    left: 70px;
    width: 200px;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: left .4s ease 0s;
}

#page-content-wrapper {
    transition: all .4s ease 0s;
    margin: calc(65px + var(--header-padding-top) + var(--header-padding-bottom)) 0px 0px 200px;
}

#page-content-wrapper.active {
    margin-left: 70px;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper.active {
    padding-left: 200px;
}

#wrapper.active #sidebar-wrapper {
    left: 200px;
}

#sidebar_menu li a, .sidebar-nav li a {
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    background: rgba(255, 255, 255, 0.01);
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999 !important;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover,
.sidebar-nav li a.active {
    color: #fff !important;
    background: rgba(255, 255, 255, 0.3) !important;
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li a.active {
    font-weight: bold;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.main_icon {
    float: right;
    padding-right: 30px;
    padding-top: 20px;
}

.sub_icon {
    float: right;
    padding-right: 30px;
    padding-top: 10px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

@media (max-width:768px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 200px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 200px;
        width: 200px;
        transition: all .4s ease 0s;
    }
}
