name: build

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.x.x
    - name: Restore dependencies
      run: dotnet restore NBomber.sln
    - name: Build
      run: dotnet build NBomber.sln --no-restore