name: .NET

on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches: [ dev, master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'

    - name: Restore dependencies
      run: dotnet restore NBomber.sln
    - name: Build
      run: dotnet build NBomber.sln --no-restore
    - name: Test
      run: dotnet test ./tests/NBomber.IntegrationTests/NBomber.IntegrationTests.fsproj --configuration Release --verbosity normal
